<html lang="en">

<head>
    <title>Terms and Conditions for Rose</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/livelink/css/livelink.css">
    <meta name="robots" content="noindex">
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=G-SG3Z1F2PNY&amp;l=dataLayer&amp;cx=c"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-10195353-21"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-10195353-21', { 'anonymize_ip': true });
    </script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-SG3Z1F2PNY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-SG3Z1F2PNY');
    </script>
</head>

<body>
    <div class="page">
        <div class="header">
            <div class="container">
                <p class="title">Help for using Rose</p>
            </div>
        </div>

        <div class="translations-list-container">
            <div class="container">
                <ul class="translations-list">
                    <li class="en translations-list-item">
                        <a class="tab-link active" href="#en">English</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const tabLinks = Array.from(document.querySelectorAll(".tab-link"));
        const tabContents = document.querySelectorAll(".tab-content");

        tabLinks.forEach(function (tabLink) {
            tabLink.addEventListener("click", toggleTab);
        });

        let priorActiveTab = null;

        function toggleTab(event) {
            tabLinks.forEach(function (tabLink, index) {
                tabLink.classList.remove("active");
                tabLink.classList.add("inactive");

                tabContents[index].classList.remove("visible");
                tabContents[index].classList.add("hidden");
            });

            if (priorActiveTab === this) {
                this.classList.remove("active");
                this.classList.add("inactive");

                tabContents[tabLinks.indexOf(this)].classList.remove("visible");
                tabContents[tabLinks.indexOf(this)].classList.add("hidden");

                priorActiveTab = null;
            } else {
                this.classList.remove("inactive");
                this.classList.add("active");

                tabContents[tabLinks.indexOf(this)].classList.remove("hidden");
                tabContents[tabLinks.indexOf(this)].classList.add("visible");

                priorActiveTab = this;
            }

            if (priorActiveTab === null) {
                this.classList.remove("inactive");
                this.classList.add("active");

                tabContents[tabLinks.indexOf(this)].classList.remove("hidden");
                tabContents[tabLinks.indexOf(this)].classList.add("visible");
            }

            event.preventDefault();
        }
    </script>
    <script type="text/javascript">
        "use strict";
        window.LCG_TRACKING_APPLICATION = "termsfeed-livelink";
        window.LCG_TRACKING_ENVIRONMENT = "production";
        window.LCG_TRACKING_EPOCH = "2020-e01";
    </script>
    <script src="/track/v1/r/js-code" type="text/javascript" async="true"></script>
    <script src="/track/v1/r/js-data" type="text/javascript" async="true"></script>
    <img src="/track/v1/px" style="position:fixed;right:0px;bottom:0px;display:none;">
    <script defer=""
        src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
        integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
        data-cf-beacon="{&quot;rayId&quot;:&quot;6e3141f07c7641b1&quot;,&quot;token&quot;:&quot;24d38a5cb57a4c87ad9f5238132ec4c3&quot;,&quot;version&quot;:&quot;2021.12.0&quot;,&quot;si&quot;:100}"
        crossorigin="anonymous"></script>

</body>

</html>